
.container{
    width:90%;
    margin:50px auto;
}

.heading h2{
    color:white;
    font-size: 3rem;
    padding:20px 0;
    border-bottom: 2px solid #D11C21;
}
.mainSection{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:50px 0;
}
.leftSection{
    width:45vw;
    display: flex;
    justify-content: flex-start;
}
.leftSection img{
    width:250px;
    height:250px;
}
.detailsContainer{
    padding:0 40px;
    display: flex;
    flex-direction: column;
    height:250px;
    justify-content: center;
}
.parkingTitle{
    color:#D11C21;
    font-size:3rem;
    font-weight:700;
    margin-bottom: 10px;
}
.parkingLocation{
    color:white;
    font-size: 2rem;
    
}
.rightSection thead{
    color:#D11C21;
}
th,td{
    padding:20px 2vw;
}
tbody{
    color:white;
}
select{
    padding:5px 10px;
    color:white;
    background-color:#0A183D;
    border-radius: 5px;
    border:2px solid #d11c21;
    cursor: pointer;
}
select:focus{
    outline:none;
}
option{
    border:2px solid #d11c21;
}
.proceedBtnHolder{
    display: flex;
    justify-content: flex-end;
}
.proceedBtnHolder button{
    padding:10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    background: #d11c21;
    color:white;
    border:none;
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
  }
.heading{
    font-size:3.5rem;
    color:#f4f2ef;
    border-bottom: 2px solid #D11C21;
    display: flex;
    flex-direction: row;
}
.heading span{
    margin-right:20px;
    color:#D11C21;
    cursor: pointer;
}
@media only screen and (max-width:1000px) {
    .mainSection{
        display: block
    }
    .leftSection{
        width:100%;
    }
    .parkingTitle{
        font-size: 2rem;
    }
    .parkingLocation{
        font-size: 1rem;
    }
    .rightSection{
        padding-top: 50px;
    }
    .proceedBtnHolder{
        justify-content: center;
    }
    .proceedBtnHolder button{
        width: 100%;
    }
}